{
  "extends": ["@balsamic"],
  "ignorePatterns": ["bench"],
  "rules": {
    "no-ex-assign": 0,
    "vitest/valid-expect": [1, { "maxArgs": 2 }],
    "no-unused-labels": 0,
    "spaced-comment": [
      1,
      "always",
      {
        "line": {
          "markers": ["*package", "!", "/", ",", "=", "*", "@", "#"],
          "exceptions": [
            "/",
            "*",
            "+",
            "-",
            "=",
            "_",
            "@__NOINLINE__",
            "@__INLINE__",
            "@__PURE__",
            "@__KEY__",
            "@__MANGLE_PROP__",
            "#__NOINLINE__",
            "#__INLINE__",
            "#__PURE__",
            "#__KEY__",
            "#__MANGLE_PROP__"
          ]
        },
        "block": {
          "balanced": true,
          "markers": ["*package", "!", ",", ":", "::", "flow-include"],
          "exceptions": [
            "*",
            "@",
            "#",
            "@__NOINLINE__",
            "@__INLINE__",
            "@__PURE__",
            "@__KEY__",
            "@__MANGLE_PROP__",
            "#__NOINLINE__",
            "#__INLINE__",
            "#__PURE__",
            "#__KEY__",
            "#__MANGLE_PROP__"
          ]
        }
      }
    ]
  }
}
