:root {
  cursor: default;
  overflow-wrap: break-word;
  color-scheme: dark dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-text);
}

pre,
code {
  font-family: var(--font-mono);
}

button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-mono);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
select,
textarea {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img,
svg,
audio,
canvas,
iframe,
video {
  vertical-align: middle;
}
